.editor-styles-wrapper .block-library-list ul,
.editor-styles-wrapper .block-library-list ol {
	padding-left: 1.3em;
	margin-left: 1.3em;
}

.editor-styles-wrapper .block-library-list .list-type-decimal {
	list-style-type: decimal;
}

.editor-styles-wrapper .block-library-list .list-type-lower-alpha {
	list-style-type: lower-alpha;
}

.editor-styles-wrapper .block-library-list .list-type-upper-alpha {
	list-style-type: upper-alpha;
}

.editor-styles-wrapper .block-library-list .list-type-lower-roman {
	list-style-type: lower-roman;
}

.editor-styles-wrapper .block-library-list .list-type-upper-roman {
	list-style-type: upper-roman;
}

.components-list-type-picker__buttons {
	max-width: $sidebar-width - ( 2 * $panel-padding );
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.components-list-type-picker__custom-input {
	.components-range-control__slider + .dashicon {
		width: 30px;
		height: 30px;
	}
}

.components-list-type-picker__dropdown-content .components-button {
	display: block;
	position: relative;
	padding: 10px 20px 10px 40px;
	width: 100%;
	text-align: left;

	.dashicon {
		position: absolute;
		top: calc(50% - 10px);
		left: 10px;
	}

	&:hover {
		@include menu-style__hover;
	}

	&:focus {
		@include menu-style__focus;
	}
}

.components-list-type-picker__buttons .components-list-type-picker__selector {
	border: 1px solid;
	background: none;
	position: relative;
	width: 110px;

	@include input-style__neutral();

	&:focus {
		@include input-style__focus();
	}

	&::after {
		@include dropdown-arrow();
		right: 8px;
		top: 12px;
		position: absolute;
	}
}

.block-editor__container .components-popover.components-list-type-picker__dropdown-content.is-bottom {
	z-index: z-index(".block-editor__container .components-popover.components-list-type-picker__dropdown-content.is-bottom");
}
